<section class="section">
  <%= flash[:notice] %>
  <%= link_to 'Logout', logout_path %>
  <div class="container">
  <% @posts.each do |post| %>
    <p><%= post.message %></p>
    <p><%= post.created_at %></p>
    <%# <%= link_to 'Show', post_path %> %>
    <%= link_to 'Edit', edit_user_post_path(current_user) %>
    <%= link_to 'Delete', user_post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
  <br>
  <%= link_to 'New Post', new_user_post_path(current_user) %>


</section>
